**
!.dockerignore
!docker/
!docker/Dockerfile.builder
!CubeS3lvol
!CubeS3lvol/setup_dep.sh
!CubeS3lvol/patches
!CubeS3lvol/patches/**
CubeS3lvol/deps
CubeS3lvol/deps/**
!docker/Dockerfile.cube-base
!docker/Dockerfile.cube-base-upstream
!docker/cube-entrypoint.sh
!cube-envd/
!cube-envd/Cargo.toml
!cube-envd/Cargo.lock
!cube-envd/build.rs
!cube-envd/rust-toolchain.toml
!cube-envd/src/
!cube-envd/src/**
cube-envd/target/
