**
!.dockerignore
!docker/
!docker/Dockerfile.builder
!CubeVZ/
CubeVZ/*
!CubeVZ/Guest/
!CubeVZ/Guest/**
!CubeVZ/Benchmark/
CubeVZ/Benchmark/*
!CubeVZ/Benchmark/cube-vz-agent.c
!CubeVZ/Benchmark/cube-vz-relay.c
!hypervisor/
hypervisor/*
!hypervisor/resources/
hypervisor/resources/*
!hypervisor/resources/linux-config-aarch64
